<button
  #open
  (click)="openNav()"
  class="btn btn-ham open text-light position-fixed d-flex justify-content-center align-items-center fs-4"
>
  <i class="fas fa-bars"></i>
</button>
<div>
  <div #nav class="top-nav position-fixed d-flex flex-column py-3">
    <button
      #close
      (click)="closeNav()"
      class="btn btn-ham close text-light d-flex justify-content-center align-items-center fs-4"
    >
      <i class="fas fa-times"></i>
    </button>
    <li
      class="navbar-nav d-flex align-items-center justify-content-center p-2 py-0"
    >
      <a class="nav-link active fs-6 fw-bold" routerLink="/"> Home </a>
    </li>
    <li
      class="m-3 navbar-nav d-flex align-items-center justify-content-center p-2 py-0"
      *ngFor="let item of navLinks"
    >
      <a
        class="nav-link active fs-6 fw-bold"
        routerLink="/portfolio"
        fragment="{{ item.id }}"
        (click)="closeNav()"
      >
        {{ item.id }}
      </a>
    </li>
  </div>
</div>
