.overlay {
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  left: 200% !important;
  transition: 0.5s ease-in-out;
}

.card {
  border: 1px solid var(--bg-color);
  border-radius: 10px !important;
  overflow: hidden;
  cursor: pointer;
}
.card:hover .overlay {
  left: 0% !important;
}

.btn-container {
  height: 100%;
}
.btn-link {
  border: 1px solid silver;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: none;
  color: var(--text-color);
}
.btn-link:hover {
  background: var(--text-color);
  color: var(--bg-color);
}
