.fab,
.fas {
  font-size: 3rem;
}
.card-skills {
  border-radius: 10px;
  cursor: pointer;
  color: var(--color-2);
  background: var(--bg-color);
  box-shadow: inset 5px 5px 10px #1e1e1e, inset -5px -5px 10px #2a2a2a;
  transition: 0.3s ease-in-out;
}

.card-skills:hover {
  box-shadow: 5px 5px 10px #1e1e1e, -5px -5px 10px #2a2a2a;
  color: var(--color-7);
}
@media screen and (max-width: 500px) {
  .row {
    --bs-gutter-x: 0 !important;
  }
}
